.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "./index.html"} Affluence
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => "./home.html"} Home
          %li
            %a{:href => "./events.html"} Events
          %li
            %a{:href => "./offers.html"} Offers
          %li
            %a{:href => "./gives.html"} Gives
        %ul.nav.pull-right
          %li#menu1.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "./settings.html"} Settings
              %li
                %a{:href => "./privacy.html"} Privacy
              %li
                %a{:href => "./orders.html"} Order History
              %li.divider
              %li
                = link_to 'Sign Out', destroy_user_session_path, :method => :delete
      / /.nav-collapse
.container
  .row
    .span3
      %div
        %img{:src => "http://www.washingtonexec.com/wp-content/uploads/2011/10/Jim-Jones-Head-Shot.jpg"}
      .well
        %ul.nav.nav-list
          %li.nav-header Socialize
          %li.active
            %a{:href => "./home.html"}
              %i.icon-star>
              What's New
          %li
            %a{:href => "./profile.html"}
              %i.icon-home>
              Profile
          %li
            %a{:href => "./members.html"}
              %i.icon-user>
              Members
          %li
            %a{:href => "./messages.html"}
              %i.icon-comment>
              Messages
          %li
            %a{:href => "./concierge.html"}
              %i.icon-glass>
              Concierge
      / side bar nav
      %div
        %form.well
          %h3 Call Concierge
          %hr.zero
            %input.span2{:placeholder => "847-481-9989", :type => "text"}
              %span.help-inline Press Call and Your Phone will Ring
              %button.btn.btn-primary{:type => "submit"} Call Concierge
              %br/
      / concierge
    / span3
    .span9
      %div
        %h2
          %small new
          Members
        %hr.zero
          %ul.thumbnails#latest_members
            %li
              #spinner
                = image_tag 'ajax-loader.gif', :class => 'ajax-loader' 
                %p Loading....
          %p.pull-right
            %a{:href => "./members.html"} see more members
          %br/
          %br/
      %div
        %h2
          %small new
          Events
        %hr.zero
          %ul.thumbnails
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/events-1.jpg"}
                  .caption
                    %h5 Grammy Event & Party
                    %p Join Affluence for an all access pass to the 2012 Grammy's. Walk the red carpet, enjoy the show and party the night away at the exclusive after hours party at the W.
                    %p
                      %span.strike $2,400
                      $1,800
                      %em Premium
                    %p
                      %a.btn.btn-success{:href => "#"}
                        %i.icon-pencil.icon-white
                        Register
                      %a.btn.btn-small.btn-info{:href => "./events-detail.html"}
                        %i.icon-info-sign.icon-white
                        More Info
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/events-2.jpg"}
                  .caption
                    %h5 Weekend at the Masters
                    %p Let Affluence treat you to a Masters like you have never experienced before. Enjoy Saturday and Sunday event passes with all access to every tent and party.
                    %p
                      %span.strike $2,400
                      $1,800
                      %em Premium
                    %p
                      %a.btn.btn-success{:href => "#"}
                        %i.icon-pencil.icon-white
                        Register
                      %a.btn.btn-small.btn-info{:href => "./events-detail.html"}
                        %i.icon-info-sign.icon-white
                        More Info
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/events-3.jpg"}
                  .caption
                    %h5 2012 Oscars Party
                    %p Join Affluence for an all access pass to the 2012 Grammy's. Walk the red carpet, enjoy the show and party the night away at the exclusive after hours party at the W.
                    %p
                      %span.strike $2,400
                      $1,800
                      %em Premium
                    %p
                      %a.btn.btn-success{:href => "#"}
                        %i.icon-pencil.icon-white
                        Register
                      %a.btn.btn-small.btn-info{:href => "./events-detail.html"}
                        %i.icon-info-sign.icon-white
                        More Info
          %p.pull-right
            %a{:href => "./events.html"} see more events
          %br/
          %br/
      %div
        %h2
          %small new
          Offers
        %hr.zero
          %ul.thumbnails
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/offer-1.jpg"}
                  .caption
                    %h5 60% Off Flying Private
                    %p Fly private for as little as $3,000/hr.
                    %p
                      %a.btn.btn-small.btn-info{:href => "#"}
                        %i.icon-ok.icon-white
                        Ativate
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/offer-2.jpg"}
                  .caption
                    %h5 Small Luxury Hotel Upgrades
                    %p Free room upgrade, late checkout & more.
                    %p
                      %a.btn.btn-small.btn-info{:href => "#"}
                        %i.icon-ok.icon-white
                        Ativate
            %li.span3
              .thumbnail
                %img{:alt => "", :src => "./img/offer-3.jpg"}
                  .caption
                    %h5 30% Off Lifelock
                    %p Protect your identity for less than $7 a month.
                    %p
                      %a.btn.btn-small.btn-info{:href => "#"}
                        %i.icon-ok.icon-white
                        Ativate
          %p.pull-right
            %a{:href => "./offers.html"} see more offers
          %br/
          %br/
      %div
        %h2 Activity
        %hr.zero
          %table.table.table-striped
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 John Doe
                %p
                  has activated the
                  %a{:href => "./offer-1.html"} Lifelock
                  Offer
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 Michael Smith
                %p
                  has purchased a ticket to the
                  %a{:href => "./events-1.html"} Grammy Event & Party
                  Event
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 Chris Morris
                %p
                  has used
                  %a{:href => "./events-1.html"} Affluence Concierge
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 Doug Lowe
                %p
                  has donated to
                  %a{:href => "./events-1.html"} Affluence Gives
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 Chris Morris
                %p
                  has used
                  %a{:href => "./events-1.html"} Affluence Concierge
            %tr
              %td.span1
                <a href"#" rel="tooltip" data-original-title="John Doe" data-placement="bottom" class="thumbnail">
                %img{:src => "https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcToyZ2iwLHPYahed5W-PNFcXODYN-dGat4ePxvhO9LzJFre_xlQtA"}
              %td
                %h5 Doug Lowe
                %p
                  has donated to
                  %a{:href => "./events-1.html"} Affluence Gives
    / span9
  %hr
    /
      Modals
      \==================================================
    %footer
      %p © Company 2012
/ /container
/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ javascript
%script{:src => "http://twitter.github.com/bootstrap/assets/js/jquery.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"}
%script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"}
:javascript
  $(function () {
    $('a[rel=tooltip]').tooltip({
            live: true
    })
  })