<div>
  
  Here the Concierge Request that was made by <b><%= @concierge_request.user.name %></b> <br/>
  
  Request : <br/>
  <b><%= @concierge_request.request_note %></b>   <br/><br/>

<div>
Send Message:

</div>

