= yield :old_card_fields
- error_class = (!@result.blank? && @result.errors.for(:customer).for(:credit_card).on(:number)) ? 'error':''
.control-group
  %label.control-label{:for => "input05"} Card Number
  .controls
    %input#user_card_number.input.span2{:name => "customer[credit_card][number]", :size => "30", :type => "text", :class => error_class}
.control-group
  %label.control-label{:for => "select02"} Expiration Date
  .controls
    %select#select02.span2{:name => "customer[credit_card][expiration_month]"}
      %option{:value => "1"} 1 - January
      %option{:value => "2"} 2 - February
      %option{:value => "3"} 3 - March
      %option{:value => "4"} 4 - April
      %option{:value => "5"} 5 - May
      %option{:value => "6"} 6 - June
      %option{:value => "7"} 7 - July
      %option{:value => "8"} 8 - August
      %option{:value => "9"} 9 - September
      %option{:value => "10"} 10 - October
      %option{:value => "11"} 11 - November
      %option{:value => "12"} 12 - December
    %select#select03.span1{:name => "customer[credit_card][expiration_year]"}
      %option 2012
      %option 2013
      %option 2014
      %option 2015
      %option 2016
      %option 2017
      %option 2018
      %option 2019
      %option 2020
      %option 2021
      %option 2022
      %option 2023
      %option 2024
      %option 2025

.control-group
  %label.control-label{:for => "input06"} CVV
  .controls
    %input#user_zip_code.input.span2{:name => "customer[credit_card][cvv]", :size => "30", :type => "text"}
.control-group
  %label.control-label{:for => "input06"} Billing ZIP
  .controls
    %input#user_billing_zip_code.input.span2{:name => "customer[credit_card][billing_address][postal_code]", :size => "30", :type => "text"}/
