.span3
  .well
    %ul.nav.nav-list
      %li.nav-header Account Settings
      %li.active
        %a{:href => '#'}
          %i.icon-home>
          Profile Info
      %li
        %a{:href => '#'}
          %i.icon-shopping-cart>
          Billing Info
      %li
        %a{:href => '#'}
          %i.icon-envelope>
          Notifications
      %li
        %a{:href => '#'}
          %i.icon-lock>
          Change Password
      %li.nav-header Privacy Settings
      %li
        %a{:href => ""}
          %i.icon-lock>
          Privacy
      %li.nav-header Order History
      %li
        %a{:href => ""}
          %i.icon-gift>
          Orders
/ span3