- @promotion_events.each do |promotion|
  .span4
    .thumbnail
      = display_image(promotion.photos)
      .caption
        %h5= promotion.promotionable.title
        %p= promotion.promotionable.description


