- @promotion_events.each do |promotion|
  .span4
    .thumbnail
      = image_tag(promotion.photos.first.image)  if  !promotion.photos.blank? && !promotion.photos.first.blank?
      .caption
        %h5= promotion.promotionable.title
        %p= promotion.promotionable.description


