- @latest_offers.each do |offer|
  %li.span3
    .thumbnail
      = display_image(offer.promotion.photos)
      .caption
        %h5= offer.title
        %p= offer.description
        %p
          %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
            %i.icon-ok.icon-white
            Ativate