.row
  .span3
    .well
      %ul.nav.nav-list
        %li.nav-header Filter
        %li.active
          %a{:href => "#featured"}
            %i.icon-adjust>
            Featured
        %li
          %a{:href => "#travel"}
            %i.icon-plane>
            Travel
        %li
          %a{:href => "#services"}
            %i.icon-cog>
            Services
        %li
          %a{:href => "#financial"}
            %i.icon-lock>
            Financial
        %li
          %a{:href => "#shopping"}
            %i.icon-shopping-cart>
            Shopping
        %li
          %a{:href => "#dinning"}
            %i.icon-leaf>
            Dinning
  / span3
  .span9
    #featured
      %h2 Featured Offers
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Featured
    #travel
      %h2 Travel
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Travel
    #services
      %h2 Services
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Services
    #financial
      %h2 Financial
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Financial
    #shopping
      %h2 Shopping
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Shopping
    #dinning
      %h2 Dinning
      %hr.zero
        %ul.thumbnails
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-1.jpg"}
                .caption
                  %h5 60% Off Flying Private
                  %p Fly private for as little as $3,000/hr.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-2.jpg"}
                .caption
                  %h5 Small Luxury Hotel Upgrades
                  %p Free room upgrade, late checkout & more.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
          %li.span3
            .thumbnail
              %img{:alt => "", :src => "../img/offer-3.jpg"}
                .caption
                  %h5 30% Off Lifelock
                  %p Protect your identity for less than $7 a month.
                  %p
                    %a.btn.btn-info{"data-toggle" => "modal", :href => "#premium-sign-up"}
                      %i.icon-ok.icon-white
                      Ativate
    / Dinning
  / span9
- content_for :javascript

