- @latest_activities.each do |activity|
  %tr
    %td.span1
      %a.thumbnail{"data-original-title" => "#{activity.user.profile.name}", "data-placement" => "bottom", :href => "", :rel => "tooltip"}
        = image_tag activity.user.profile.photos.first.image.url(:thumb)
    %td
      %h5= activity.user.profile.name
      %p
        = activity.body 

:javascript
  $(function () {
    $('a[rel=tooltip]').tooltip({
        live: true
    });
  });

