.span3
  .well
    %ul.nav.nav-list
      %li.nav-header Account Settings
      %li.active
        %a{:href => "./settings.html"}
          %i.icon-home>
          Profile Info
      %li
        %a{:href => "./settings.html"}
          %i.icon-shopping-cart>
          Billing Info
      %li
        %a{:href => "./settings.html"}
          %i.icon-envelope>
          Notifications
      %li
        %a{:href => "./settings.html"}
          %i.icon-lock>
          Change Password
      %li.nav-header Privacy Settings
      %li
        %a{:href => "./privacy.html"}
          %i.icon-lock>
          Privacy
      %li.nav-header Order History
      %li
        %a{:href => "./orders.html"}
          %i.icon-gift>
          Orders
/ span3
.span9
  #accordion2.accordion
    = render :partial => 'profile'
    //= render :partial => 'billing'
    = render :partial => 'email_notifications'
    = render :partial => 'change_password'
  / accordian
/ span9