- @latest_members.each do |latest_member|
  %li.span1
    %a.thumbnail{"data-original-title" => "data", "data-placement" => "bottom", :href => "/profile/#{latest_member.permalink}", :rel => "tooltip"}
      %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSYhnBvyrRrhumLTwSW7CLDFLVNY_ONEAHBFMdxc46bJLU8nuGLZw"}
