- @latest_members.each do |member|
  %li.span1
    %a.thumbnail{"data-original-title" => "#{member.profile.first_name}", "data-placement" => "bottom", :href => "#", :rel => "tooltip"}
      = display_image(member.profile.photos, :thumb)
:javascript
  $(function () {
    $('a[rel=tooltip]').tooltip({
        live: true
    });
  });


