- @latest_members.each do |member|
  %li.span1
    %a.thumbnail{"data-original-title" => "#{member.profile.first_name}", "data-placement" => "bottom", :href => "#", :rel => "tooltip"}
      = image_tag member.profile.photos.first.image.url(:thumb)
:javascript
  $(function () {
    $('a[rel=tooltip]').tooltip({
        live: true
    });
  });


