.span9
  %h2
    %small find
    Members
  %div
    %form.form-search.well
      %input.input-xlarge.search-query{:placeholder => "Name, Title, Location etc…", :type => "text"}
        %button.btn.btn-primary{:type => "submit"} Search
  %div
    %h2
      Results
      %small 97
    %hr.zero
      %ul.thumbnails
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
      %ul.thumbnails
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
      %ul.thumbnails
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
        %li.span3
          .thumbnail
            %img{:alt => "", :src => "http://quitenormal.files.wordpress.com/2011/08/joe-bit-me-biden-550x382.jpg?w=210&h=146"}
              %h5 Bill James
              %h6 CEO at Real Cool Company
              %p
                %i.icon-map-marker>
                Chicago, IL.
                %small United States
  / Results
  .pagination
    %ul
      %li
        %a{:href => "#"} Prev
      %li.active
        %a{:href => "#"} 1
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3
      %li
        %a{:href => "#"} 4
      %li.disabled
        %a{:href => "#"} ...
      %li
        %a{:href => "#"} 10
      %li
        %a{:href => "#"} 11
      %li
        %a{:href => "#"} Next
  / pagination
/ span9
